/* Element selector giving the html body the font-family and font-size attributes */
body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

header {
  text-align: center;
}

h1 {
  margin-top: 10px;
}

.p-5 {
  padding: 0rem !important;
}

#currentDay {
  margin-bottom: -5px;
}

#messageSaved {
  display: flex;
  justify-content: center;
}

/* Element selector giving the text area of the html doc these attributes (background, border, resize, color, border-left, & padding */
textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

/* Class selector allowing the description class to pre-wrap any white-space */
.description {
  white-space: pre-wrap;
}

/* Class selector giving the time-block class a border radius of 15px */
.time-block {
  border-radius: 15px;
}

/* Class selector giving the row class a border-top attribute */
.row {
  border-top: 1px solid white;
}

/* Class selector giving the hour class the attributes background-color, text-color, and a border-top */
.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
}

/* Class selector givin the past class the gray background color */
.past {
  background-color: #d3d3d3;
  color: white;
}

/* Class selector givin the present class the red background color */
.present {
  background-color: #ff6961;
  color: white;
}

/* Class selector givin the future class the green background color */
.future {
  background-color: #77dd77;
  color: white;
}

/* Class selector giving the saveBtn class the attributes of border-left, border-top-right-radius, border-bottom-right-radius, background-color, & color */
.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06aed5;
  color: white;
}

/* Class selector adding the hover attribute to the save button */
.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}